.number-picker-bar > div:last-child {
  margin: 0;
}

.number-picker-bar.vertical > div > button {
  width: 100%;
}

.number-picker-bar.vertical .btn-group-vertical {
  width: 100%;
}

.number-picker-bar.vertical > div {
  margin: 0 0 10px 0;
}

.number-picker-bar.vertical > div:last-child {
  margin: 0;
}
