.navbottom { margin-top: 20px }
.progressbar {margin: 10px 0; }
.progressbar .btn-group { padding: 0 5px; }
.progressbar button { width: 100%; color: transparent; }
.phase-active { outline: #f00 solid 2px; }
.phase-run .phase-number {padding-left: 10px; padding-right: 0}
.phase-run .progressbar {padding-left: 0; padding-right: 0}
.phase-run .phase-counter {padding-left: 0; padding-right: 10px}
.pbar-number { 
	height: 36px;
	padding: 6px;
	margin: 9px 0;
	border: 1px solid #ccc;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	text-align: center;
	font-size: larger;
	display: inline-block;
    min-width: 36px;
}
.pbar-counter {
	height: 36px;
	padding: 6px;
	margin: 9px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-align: center;
	font-size: larger;
}
.countbox, .timebox {
	text-align: center;
	margin-bottom: 10px;
}
.countbox div, .timebox div {
	font-size: 3em !important;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	padding: 20px;
	border: #ccc 3px solid;
	min-width: 50px;
}
.timebox .timebox-default {}
.timebox .timebox-pause {
	background-color: #dfd;
	border-color: #0a0;
}
.timebox .timebox-delay {
	background-color: #ffd;
	border-color: #f00;
}
.col-btnchange {text-align: right;}
.row.phase-run {
    margin: 0px 0px;
}
.player-buttons {margin-top:20px;}
